.widget-heading {
  margin-bottom: .5rem;
}
.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableCell {
  display: table-cell;
  padding: 10px;
}
.divTableBody {
  display: table-row-group;
}
